{% extends 'AntCoreBundle::layout.html.twig' %}

{% block content %}
<h2>Ants</h2>
<p>Pellentesque ut massa vitae tortor consequat adipiscing. Nunc consequat rutrum urna eu rhoncus. Aliquam erat volutpat. Aenean id nisl vel nisl sodales pharetra. Nam bibendum ipsum sed risus condimentum congue. In erat lacus, vestibulum quis pulvinar a, placerat sed tortor. Proin pellentesque nibh nulla. Donec elit nunc, iaculis ac interdum sed, lacinia quis tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed malesuada enim ut lectus sagittis facilisis.</p>
<div class="row">
    <div class="col-lg-6">
        <img class="img-thumbnail" style="width: 100%;" src="http://www.ants-kalytta.com/images/products/lani0001-1.jpg" alt="0">
    </div>
</div>
{% endblock %}
